/*Définition des polices personnalisées*/
@font-face{
    font-family: 'Raleway-Regular';
    src: url('/Styles/Polices/Raleway-Regular.ttf') format('truetype');
}

/*Mise en forme d'ordre général de certains éléments*/
a{
    text-decoration: none;
    color: inherit;
}
.gras{
    font-weight: bold;
}

/*ELEMENTS PRINCIPAUX DE LA PAGE*/
#Bloc_Page{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    height: auto;
    margin: auto;
    font-family: 'Raleway-Regular', Arial;
}
header{
    position: relative;
    flex-grow: 1;
    flex-shrink: 4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 92.7%;
}
#Recherche{
    position: relative;
    flex-grow: 1;
    flex-shrink: 4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    width: 92.7%;
}
#Hebergements{
    position: relative;
    flex-grow: 1;
    flex-shrink: 4;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 92.7%;
    height: 29rem;
    margin: 1rem 0rem 2rem 0rem;
}
#Activites{
    position: relative;
    flex-grow: 1;
    flex-shrink: 4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: stretch;
    width: 92.7%;
    height: 21.5rem;
    margin: 1rem 0rem;
    border-radius: 0.8rem;
}
footer{
    position: relative;
    flex-grow: 1;
    flex-shrink: 4;
    width: 100%;;
    margin: 2rem 0rem;
}

/*HEADER : LOGO RESERVIA */

#Logo{
    flex-grow: 1;
    flex-shrink: 4;
    width: 50%;
    height: auto;
    flex-grow: 1;
}
#Logo img{
    width: 13%;
    height: 100%;
}

/*HEADER : MENU NAVIGATION PRINCIPALE*/

#MenuPincipal{
    flex-grow: 1;
    flex-shrink: 4;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: relative;
    width: 50%;
}
    #MenuPrincipal ul{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }
        #MenuPrincipal ul li{
            list-style-type: none;
            margin: 1em;
        }
            #MenuPrincipal ul li a{
                width: 100%;
                height: 100%;
            }
        #MenuPrincipal ul li:nth-child(1){
            color: #0065fc;
        }
        #MenuPrincipal ul li:nth-child(2){
            color: gray;
        }
        #MenuPrincipal ul li:nth-child(3){
            font-weight: bold;
            color: #0065fc;
        }

/*header : Titre principalL*/

header h1{
    position: relative;
    flex-grow: 1;
    flex-shrink: 4;
    width: 100%;
    margin-bottom: 0rem;
    font-size: 1.15rem;
    word-spacing: -0.1rem;
}

/*header : Titre secondaire*/

header h2{
    position: relative;
    flex-grow: 1;
    flex-shrink: 4;
    font-size: 0.85rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

/*Div #Recherche : Formulaire contenant 2 champs*/
/*Mise en forme générale des deux champs du formulaire*/

#Formulaire fieldset{
    position: relative;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 3;
    border : 0;
    margin-left: 0rem;
    padding-left: 0rem;;
}
    /*#Formulaire : Premier champ => Recherche  de la ville*/

    #RechercheVille{
        margin-bottom: 0.5rem;
    }
        /*RechercheVille : Div encapsulant l'icône, la zone de saisie texte et le bouton d'envoi*/
        .CapsuleRecherche{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 1.75rem;
            width: auto;
            border: solid #999 1px;
            border-radius: 0.4rem;
            background-color: #999;
        }
            /*RechercheVille : Icône localisation*/
            .CapsuleRecherche i{
                position: relative;
                height: 1.75rem;
                width: 100%;
                margin: 0.6rem;
                padding-top: 0.6rem;
                color: black;
            }
            /*RechercheVille : Zone de saisie texte pour la ville recherchée*/
            #RechercheVille input[type="text"]{
                position: relative;
                top: -0.05rem;
                width: 100%;
                height: 1.7rem;
                padding: 0rem 0.2rem 0rem 0.2rem;
                margin-right:0rem;
                margin-top: 0rem;
                margin-bottom: 0rem;
                border: solid #555 1px;
                color: black;
            }
            #RechercheVille input[type="text"]:focus{
                box-shadow: 0;
                height: 1.7rem;
            }
            /*RechercheVille : Bouton d'envoi du formulaire*/
            #RechercheVille input[type="submit"]{
                position: relative;
                width: 100%;
                height: 1.7rem;
                background-color: #0065fc;
                color: white;
                padding-bottom: 0.2rem;
                margin-left: 0rem;
                border: 0px;
                border-top-right-radius: 0.4rem;
                border-top-right-radius: 0.4rem;
            }
    /*#Formulaire : Deuxième champ => Filtres de recherche*/

    #FiltresRecherche{
        margin-top: 0rem;
        margin-bottom: 0.2rem;
        font-weight: bold;
    }
        /*FiltresRecherche : Classe générique pour mettre en forme les filtres de recherche*/
        .Filtre{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 1.8rem;
        width: auto;
        margin-right: 0.8rem;
        border: solid black 1px;
        border-radius: 0.9rem;
        }
            /*.Filtre : Cases à cocher*/
            .Filtre input[type="checkbox"]{
                display: none;
            }
            /*.Filtre : Capsule contenant l'icône*/
            .capsuleIcone{
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                width: 1.8rem ;
                height: 1.8rem;
                background-color: #deebff;
                padding: 0.3rem 0.3rem;
                border-radius: 0.9rem;
            }
                /*.capsuleIcone : Icône FontAwesome*/
                .capsuleIcone i{
                    background-color: #deebff;
                    font-size: 0.9rem;
                    color: #0065fc;
                }
        /*.Filtre : label (étiquette de filtre)*/
        #FiltresRecherche label{
            display: inline-block;
            position: relative;
            height: 1.8rem;
            margin: 0.4rem;
            padding: 0.4rem;
            box-sizing: border-box;
            margin-right:1.2rem;
            font-size: 0.8rem;
            font-weight: bold;
        }
    /*Formulaire : Div ResultatEffectif */
    #ResultatEffectif{
        font-size: 0.75rem;;
    }
        /*ResultatEffectif : Icône Information*/
        #ResultatEffectif i{
            display: inline-block;
            font-size: 0.6rem;;
            box-sizing: border-box;
            padding: 0.2rem 0.5rem;
            color: #0065fc;
            border: 1px solid #f2f2f2;
            border-radius: 50%;
        }
        /*ResultatEffectif : Paragraphe contenant le nombre de logements trouvés*/
        #ResultatEffectif p{
            display: inline-block;
            margin-left: 0.5rem;
            color: black;
        }

/*Hebergements : Section 'Classiques'*/

#Classiques{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 67%;
    height: 100%;
    background-color: #e9e9e9;
    border-radius: 0.8rem;
}
    /*SECTION 'Classiques' : Titre de section*/
    #Classiques h2{
        position: relative;
        width: 90%;
        height: 10%;
        box-sizing: border-box;
        margin: 0rem;
        padding-top: 1.5rem;
        padding-left: 1.3rem;
        font-size: 1.15rem;
    }
    /*SECTION 'Classiques' : div '#GroupeClassique' regroupant les cartes Hébergements*/
    #GroupeClassique{
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
        height: 83%;
        width: 100%;
        margin: 0rem;
    }
        /*DIV 'GroupeClassique' : div '.CarteH' pour mettre en forme une carte hébergement*/
        .carteH{
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
            height: 46%;
            margin: 0rem;
            border-radius: 0.8rem;
            padding: auto;
            background-color: #fff;
        }
            .PhotoClassiques{
                position: relative;
                border-top-left-radius: 0.6rem;
                border-top-right-radius: 0.6rem;
            }
            /*Définition des photos Logements Classiques et rétouches spécifiques*/
            #Photo_01{
                width: 95%;
                height: 60%;
                background : url('../Images/Hebergements/Auberge_La_Cannebière.jpg') no-repeat;
                background-clip: border-box;
                background-position: top 45% left 0%;
                background-size: 100%;
            }
            #Photo_02{
                width: 95%;
                height: 60%;
                background : url('../Images/Hebergements/Hotel_De_La_Mer.jpg') no-repeat;
                background-position: top 40% left 0%;
                background-size: 100%;
            }
            #Photo_03{
                width: 95%;
                height: 60%;
                background : url('../Images/Hebergements/Hotel_Du_Port.jpg') no-repeat;
                background-position: top 65% left 5%;
                background-size: 100%;
            }
            #Photo_04{
                width: 95%;
                height: 60%;
                background : url('../Images/Hebergements/Auberge_Le Pannier.jpg') no-repeat;
                background-position: top 50% left 0%;
                background-size: 100%;
            }
            #Photo_05{
                width: 95%;
                height: 60%;
                background : url('../Images/Hebergements/Hotel_Les_Mouettes.jpg') no-repeat;
                background-position: top 50% left 0%;
                background-size: 100%;
            }
            #Photo_06{
                width: 95%;
                height: 60%;
                background : url('../Images/Hebergements/Hôtel_Chez_Amina.jpg') no-repeat;
                background-position: top 50% right 30%;
                background-size: 100%;
            }
                        
        
            /*DIV 'CarteH': Nom & Pix Logement*/
            .carteH p{
                position: relative;
                width: 90%;
                height: 15%;
                margin: 0rem;
                font-size: 0.85rem;
            }
            /*DIV 'CarteH': Notation Logement*/
            .Notation{
                position: relative;
                width: 90%;
                height: 10%;
                margin-top: 0.6rem;
                padding-left: 0rem;
            }
            .UneEtoile{
                background: url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_grise.svg'),url('../Images/Icones/Etoile_grise.svg'),url('../Images/Icones/Etoile_grise.svg'),url('../Images/Icones/Etoile_grise.svg');
                background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
                background-position: 0% 0%,9% 0%,18% 0%,27% 0%,36% 0%;
                background-size: 8%;
            }
            .DeuxEtoiles{
                background: url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_grise.svg'),url('../Images/Icones/Etoile_grise.svg'),url('../Images/Icones/Etoile_grise.svg');
                background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
                background-position: 0% 0%,9% 0%,18% 0%,27% 0%,36% 0%;
                background-size: 8%;
            }
            .TroisEtoiles{
                background: url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_grise.svg'),url('../Images/Icones/Etoile_grise.svg');
                background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
                background-position: 0% 0%,9% 0%,18% 0%,27% 0%,36% 0%;
                background-size: 8%;
            }
            .QuatreEtoiles{
                background: url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_grise.svg');
                background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
                background-position: 0% 0%,9% 0%,18% 0%,27% 0%,36% 0%;
                background-size: 8%;
            }
            .CinqEtoiles{
                background: url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg'),url('../Images/Icones/Etoile_bleue.svg');
                background-repeat: no-repeat,no-repeat,no-repeat,no-repeat,no-repeat;
                background-position: 0% 0%,9% 0%,18% 0%,27% 0%,36% 0%;
                background-size: 8%;
            }

    /*SECTION Classiques : Lien "Afficher plus" de logements*/
    #Classiques>a{
        position: relative;    
        width: 90%;
        height: 10%;
        margin: 0rem;
        padding-left: 1.3rem;
        padding-top: 0.8rem;
    }

/*Hebergements : Section 'Tendances' => Les plus populaires*/

#Tendances{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 31.5%;
    height: 100%;
    background-color: #e9e9e9;
    border-radius: 0.8rem;
}
    /*SECTION 'Tendances' : Titre de section*/
    #Tendances h2{
        position: relative;
        width: 90%;
        height: 4%;
        box-sizing: border-box;
        margin-left: 5%;
        margin-bottom: 15%;
        padding-top: 0.8rem;
        font-size: 1.15rem;
    }
        /*Tendances h2 : Icone du titre*/
        #Tendances h2 i{
            margin-left: 4.5rem;
        }
    /*SECTION 'Tendances' : Mise en forme d'une carte tendance 'carteT'*/
    .carteT{
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
        align-items: center;
        width: 90%;
        height: 25%;
        box-sizing: border-box;
        margin-bottom: 2%;
        padding: auto;
        background-color: #fff;
        border-radius: 0.8rem;
        font-size: 0.9rem;
    }

        /*DIV 'carteT' : Image Logement*/
        /*Classe générique pour la photo d'un logement (déf. en image de fond)*/
        .PhotoTendances{
            position: relative;
            width: 36%;
            height: 100%;
            margin: 0.3rem;
            border-top-left-radius: 0.6rem;
            border-bottom-left-radius: 0.6rem;
        }
        /*Définition des photos Logements Tendances et rétouches spécifiques*/
        #Photo_07{
            background : url('../Images/Hebergements/Le_Soleil_Du_Matin.jpg') no-repeat;
            background-position: top 0% left 50%;
            background-size: cover;
        }
        #Photo_08{
            background : url('../Images/Hebergements/Au_Coeur_De_L_Eau.jpg') no-repeat;
            background-position: top 10% left 20%;
            background-size: cover;
        }
        #Photo_09{
            background : url('../Images/Hebergements/Tout_Bleu_Et_Blanc.jpg') no-repeat;
            background-position: top 40% left 0%;
            background-size: cover;
        }
        /*DIV 'carteT': Nom & Pix Logement*/
        .carteT p{
            position: relative;
            width: 60%;
            height: 40%;
            box-sizing: border-box;
            padding: 0rem 0.5rem 0rem 0.2rem;
        }
        /*DIV 'CarteH': Notation Logement*/
        .NotationT{
            position: relative;
            width: 60%;
            height: 15%;
            box-sizing: border-box;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            margin-left: 0.4rem;
        }
        /*Pour les étoiles mise en forme idem aux Logemetns Classiques*/

/*SECTION 'Activites' : Titre de section*/
#Activites h2{
    position: relative;
    width: 100%;
    height: 10%;
    margin: 0rem;
    padding-left: 0rem;
    padding-bottom: 0.5rem;
    font-size: 1.15rem;
}

/*SECTION 'Activites' : div '#GroupeActivites' regroupant l'ensemble des cartes Activites*/

#GroupeActivites{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 90%;
}
    /*DIV 'CartesActivites' : classe générique pour mettre en forme les différentes cartes Activités'*/

    .CarteA{
        position: relative;
        vertical-align: bottom;
        width: 23%;
        margin: 0rem;
        border-radius: 0.8rem;
        box-shadow: #999 0rem 0rem 0.5rem;
    }
    /*DIV 'CartesActivites' : Dimensionnement des cartes Activité*/
    #CarteA1{
        height: 100%;
    }
    #CarteA2{
        height: 57%;
    }
    #CarteA3{
        height: 40%;
    }
    #CarteA4{
        height: 100%;
    }
    #CarteA5{
        height: 46%;
    }
    #CarteA6{
        height: 46%;
    }
        /*Classe générique pour la photo d'une activité (déf. en image de fond)*/
        .PhotoActivite{
            position: relative;
            width: 100%;
            height: 80%;
            border-top-left-radius: 0.8rem;
            border-top-right-radius: 0.8rem;
        }
        /*Définition des photos Activités et rétouches spécifiques*/
        #Photo_10{
            height: 88%;
            background : url('../Images/Activités/Vieux_Port.jpg') no-repeat;
            background-position: top 90% left 40%;
            background-size: cover;
        }
        #Photo_11{
            height: 77%;
            background : url('../Images/Activités/Fort de Pomègues.jpg') no-repeat;
            background-position: top 45% left 20%;
            background-size: cover;
        }
        #Photo_12{
            height: 76%;
            background : url('../Images/Activités/Iles_Du_Frioul.jpg') no-repeat;
            background-position: top 10% left 20%;
            background-size: cover;
        }
        #Photo_13{
            height: 88%;
            background : url('../Images/Activités/Parc_National_Calanques.jpg') no-repeat;
            background-position: top 70% left 35%;
            background-size: cover;
        }
        #Photo_14{
            background : url('../Images/Activités/Notre_Dame_De_La_Garde.jpg') no-repeat;
            background-position: top 10% left 20%;
            background-size: cover;
        }
        #Photo_15{
            background : url('../Images/Activités/Parc_Longchamp.jpg') no-repeat;
            background-position: top 25% left 20%;
            background-size: cover;
        }

        /*Mise en forma générale pour les noms d'activités*/
        .CarteA p{
            position: relative;
            width: 100%;
            height: auto;
            box-sizing: border-box;
            margin: 0rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.6rem;
            background-color: white;
            font-size: 0.8rem;
            font-weight: bold;
            border-bottom-left-radius: 0.8rem;
            border-bottom-right-radius: 0.8rem;
        }

/*FOOTER : Menu navigation secondaire*/

#MenuSecondaire{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content:stretch ;
    height: 9.5rem;
    width: 100%;
    background-color: #e9e9e9 ;
}
    /*Menu de navigation en 3 colonnes*/
    #MenuSecondaire ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        position: relative;
        height: 100%;
        width: 33%;
    }
    /*Mise en forme des éléments de liste du menu de navigation secondaire*/
    #MenuSecondaire ul li{
        list-style-type: none;
        font-size: 0.8rem;
    }
    #MenuSecondaire ul li:nth-child(1){
        font-weight: bold;
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }
/*Notes Infos
Couleurs Charte Graphique :
bleu #0065fc;
bleu clair : #deebff;
gris pour le fond #f2f2f2;
*/
