/*Définition des polices personnalisées*/
@font-face{
    font-family: 'Raleway-Regular';
    src: url('/Styles/Polices/Raleway-Regular.ttf') format('truetype');
}

/*Mise en forme d'ordre général de certains éléments*/
a{
    text-decoration: none;
    color: inherit;
}
.gras{
    font-weight: bold;
}

/*ELEMENTS PRINCIPAUX DE LA PAGE*/
#Bloc_Page{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 1100px;
    height: auto;
    margin: auto;
    font-family: 'Raleway-Regular', Arial;
}
header{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}
#Recherche{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}
#Hebergements{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 1rem 0rem;
}
#Activites{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    align-content: stretch;
    width: 100%;
    margin: 1rem 0rem;
}
footer{
    position: relative;
    margin: 2rem 0rem;
}

/*HEADER : LOGO RESERVIA */

#Logo{
    flex-grow: 1;
    flex-shrink: 3;
    width: 50%;
    height: auto;
    flex-grow: 1;
}
#Logo img{
    width: 13%;
    height: 100%;
}

/*HEADER : MENU NAVIGATION PRINCIPALE*/

#MenuPincipal{
    flex-grow: 1;
    flex-shrink: 3;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: relative;
    width: 50%;
}
    #MenuPrincipal ul{
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }
        #MenuPrincipal ul li{
            list-style-type: none;
            margin: 1em;
        }
            #MenuPrincipal ul li a{
                width: 100%;
                height: 100%;
            }
        #MenuPrincipal ul li:nth-child(1){
            color: #0065fc;
        }
        #MenuPrincipal ul li:nth-child(2){
            color: gray;
        }
        #MenuPrincipal ul li:nth-child(3){
            font-weight: bold;
            color: #0065fc;
        }

/*header : Titre principalL*/

header h1{
    position: relative;
    flex-grow: 1;
    flex-shrink: 3;
    width: 100%;
    margin-bottom: 0rem;
    font-size: 1.15rem;
    word-spacing: -0.1rem;
}

/*header : Titre secondaire*/

header h2{
    font-size: 0.85rem;
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}

/*Div #Recherche : Formulaire contenant 2 champs*/
/*Mise en forme générale des deux champs du formulaire*/

#Formulaire fieldset{
    position: relative;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 3;
    border : 0;
    margin-left: 0rem;
    padding-left: 0rem;;
}
    /*#Formulaire : Premier champ => Recherche  de la ville*/

    #RechercheVille{
        margin-bottom: 0.5rem;
    }
        /*RechercheVille : Div encapsulant l'icône, la zone de saisie texte et le bouton d'envoi*/
        .CapsuleRecherche{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            position: relative;
            height: 1.75rem;
            width: auto;
            border: solid #999 1px;
            border-radius: 0.4rem;
            background-color: #999;
        }
            /*RechercheVille : Icône localisation*/
            .CapsuleRecherche i{
                position: relative;
                height: 1.75rem;
                width: 100%;
                margin: 0.6rem;
                padding-top: 0.6rem;
                color: black;
            }
            /*RechercheVille : Zone de saisie texte pour la ville recherchée*/
            #RechercheVille input[type="text"]{
                position: relative;
                top: -0.05rem;
                width: 100%;
                height: 1.7rem;
                padding: 0rem 0.2rem 0rem 0.2rem;
                margin-right:0rem;
                margin-top: 0rem;
                margin-bottom: 0rem;
                border: solid #555 1px;
                color: black;
            }
            #RechercheVille input[type="text"]:focus{
                box-shadow: 0;
                height: 1.7rem;
            }
            /*RechercheVille : Bouton d'envoi du formulaire*/
            #RechercheVille input[type="submit"]{
                position: relative;
                width: 100%;
                height: 1.7rem;
                background-color: #0065fc;
                color: white;
                padding-bottom: 0.2rem;
                margin-left: 0rem;
                border: 0px;
                border-top-right-radius: 0.4rem;
                border-top-right-radius: 0.4rem;
            }
    /*#Formulaire : Deuxième champ => Filtres de recherche*/

    #FiltresRecherche{
        margin-top: 0rem;
        margin-bottom: 0.2rem;
        font-weight: bold;
    }
        /*FiltresRecherche : Classe générique pour mettre en forme les filtres de recherche*/
        .Filtre{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 1.8em;
        width: auto;
        margin-right: 0.4em;
        border: solid black 1px;
        border-radius: 0.9em;
        }
            /*.Filtre : Cases à cocher*/
            .Filtre input[type="checkbox"]{
                display: none;
            }
            /*.Filtre : Capsule contenant l'icône*/
            .capsuleIcone{
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                width: 1.8em ;
                height: 1.8em;
                background-color: #deebff;
                padding: 0.3em 0.3em;
                border-radius: 0.9em;
            }
                /*.capsuleIcone : Icône FontAwesome*/
                .capsuleIcone i{
                    background-color: #deebff;
                    font-size: 0.9em;
                    color: #0065fc;
                }
        /*.Filtre : label (étiquette de filtre)*/
        #FiltresRecherche label{
            display: inline-block;
            position: relative;
            height: 1.8em;
            width: auto;
            margin: 0.2em;
            padding: 0.3em;
            box-sizing: border-box;
            margin-right:1em;
            font-size: 0.8em;
            font-weight: bold;
        }
    /*Formulaire : Div ResultatEffectif */
    #ResultatEffectif{
        font-size: 0.75rem;;
    }
        /*ResultatEffectif : Icône Information*/
        #ResultatEffectif i{
            display: inline-block;
            font-size: 0.6rem;;
            box-sizing: border-box;
            padding: 0.2rem 0.5rem;
            color: #0065fc;
            border: 1px solid #f2f2f2;
            border-radius: 50%;
        }
        /*ResultatEffectif : Paragraphe contenant le nombre de logements trouvés*/
        #ResultatEffectif p{
            display: inline-block;
            margin-left: 0.5rem;
            color: black;
        }

/*Hebergements : Section 'Classiques'*/

#Classiques{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 67%;
    height: 34rem;
    background-color: #e9e9e9;
    border-radius: 0.8rem;
}
    /*SECTION 'Classiques' : Titre de section*/
    #Classiques h2{
        position: relative;
        width: 90%;
        height: 10%;
        margin: 0rem;
        padding-top: 1rem;
        padding-left: 1.3rem;
    }
    /*SECTION 'Classiques' : div '#GroupeClassique' regroupant les cartes Hébergements*/
    #GroupeClassique{
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
        height: 80%;
        width: 100%;
        margin: 0rem;
    }
        /*DIV 'GroupeClassique' : div '.CarteH' pour mettre en forme une carte hébergement*/
        .carteH{
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
            height: 45%;
            border-radius: 0.8rem;
            padding: auto;
            background-color: #fff;
            font-size: 0.9rem;
        }
            /*DIV 'CarteH' : Image Logement*/
            .carteH img{
                position: relative;
                width: 95%;
                height: 59%;
                margin: auto;
                border-top-left-radius: 0.6rem;
                border-top-right-radius: 0.6rem;
            }
            /*DIV 'CarteH': Nom & Pix Logement*/
            .carteH p{
                position: relative;
                width: 90%;
                height: 15%;
                margin: auto;
            }
            /*DIV 'CarteH': Notation Logement*/
            .carteH div{
                position: relative;
                width: 90%;
                height: 15%;
                margin: auto;
            }
    /*SECTION Classiques : Lien "Afficher plus" de logements*/
    #Classiques>a{
        position: relative;    
        width: 90%;
        height: 10%;
        margin: 0rem;
        padding-left: 1.3rem;
        padding-top: 0.8rem;
    }

/*Hebergements : Section 'Tendances' => Les plus populaires*/

#Tendances{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 34rem;
    background-color: #e9e9e9;
    border-radius: 0.8rem;
}
    /*SECTION 'Tendances' : Titre de section*/
    #Tendances h2{
        position: relative;
        width: 90%;
        height: 3%;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    /*SECTION 'Tendances' : Mise en forme d'une carte tendance 'carteT'*/
    .carteT{
        position: relative;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 25%;
        margin-bottom: 8%;
        padding: auto;
        background-color: #fff;
        border-radius: 0.8rem;
        font-size: 0.9rem;
    }

        /*DIV 'carteT' : Image Logement*/
        /*Classe générique pour la photo d'un logement (déf. en image de fond)*/
        .Photo{
            position: relative;
            width: 36%;
            height: 100%;
            margin: 0.3rem;
            border-top-left-radius: 0.6rem;
            border-bottom-left-radius: 0.6rem;
        }
        /*Retouche spécifique pour chacune des photos de logement (positionnement)*/
        #Photo_01{
            background : url('../Images/Hebergements/Le_Soleil_Du_Matin.jpg') no-repeat;
            background-position: 10% 20%;
            background-size: cover;
        }
        #Photo_02{
            background : url('../Images/Hebergements/Au_Coeur_De_L_Eau.jpg') no-repeat;
            background-position: top 10% left 20%;
            background-size: cover;
        }
        #Photo_03{
            background : url('../Images/Hebergements/Tout_Bleu_Et_Blanc.jpg') no-repeat;
            background-position: top 10% left 20%;
            background-size: cover;
        }
        /*DIV 'carteT': Nom & Pix Logement*/
        .carteT p{
            position: relative;
            width: 62%;
            height: 75%;
            margin-top: 3%;
        }
        /*DIV 'CarteT': Notation Logement*/
        .carteT div[class^="Etoiles"]{
            position: relative;
            width: 62%;
            height: 25%;
            margin: auto;
        }

/*SECTION 'Activites' : Titre de section*/
#Activites h2{
    position: relative;
    width: 90%;
    height: 5%;
    margin: 0rem;
}

/*SECTION 'Activites' : div '#GroupeActivites' regroupant l'ensemble des cartes Activites*/

#GroupeActivites{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    width: 100%;
    height: 10rem;
}
    /*DIV 'CartesActivites' : classe générique pour mettre en forme les différentes cartes Activités'*/

    .CarteA{
        position: relative;
        vertical-align: bottom;
        width: 25%;
    }
    /*DIV 'CartesActivites' : Dimensionnement des cartes Activité*/
    #CarteA1{
        position: relative;
        height: 100%;
    }
    #CarteA2{
        position: relative;
        height: 50%;
    }
    #CarteA3{
        position: relative;
        height: 50%;
    }
    #CarteA4{
        position: relative;
        height: 100%;
    }
    #CarteA5{
        position: relative;
        height: 50%;
    }
    #CarteA6{
        position: relative;
        height: 50%;
    }

/*FOOTER : Menu navigation secondaire*/
#MenuSecondaire{
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content:stretch ;
    height: 10rem;
    width: 100%;
}
    /*Menu de navigation en 3 colonnes*/
    #MenuSecondaire ul{
        height: 100%;
        width: 33%;
    }
    /*Mise en forme des éléments de liste du menu de navigation secondaire*/
    #MenuSecondaire ul li{
        list-style-type: none;
        font-size: 0.8rem;
    }
    #MenuSecondaire ul li:nth-child(1){
        font-weight: bold;
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }
/*Notes Infos
Couleurs Charte Graphique :
bleu #0065fc;
bleu clair : #deebff;
gris pour le fond #f2f2f2;
*/
